# restart vdr if dvb device added after vdr is running
KERNEL=="dvb?.frontend?", SUBSYSTEMS=="usb", \
       ATTRS{idVendor}=="*", ATTRS{idProduct}=="*", \
       PROGRAM="usb_dvb_module %s{idVendor} %s{idProduct}" , \
       ENV{DVBMODULE}="%c"
