ACTION!="add|change", GOTO="end_video"

# xorg_start only does something for subsystem "pci" and "video" class.
SUBSYSTEM=="pci", ATTR{class}=="0x030000", GOTO="subsystem_pci"
SUBSYSTEM=="drivers", GOTO="subsystem_drivers"
GOTO="end_video"

# check for drivers dont use the pci substem
LABEL="subsystem_drivers"
KERNEL=="nvidia",  ENV{xorg_driver}="nvidia",  GOTO="start_xorg"
GOTO="end_video"

# check for drivers using the pci substem
LABEL="subsystem_pci"
DRIVER=="i915",    ENV{xorg_driver}="i915",    GOTO="start_xorg"
DRIVER=="nouveau", ENV{xorg_driver}="nouveau", GOTO="start_xorg"
#DRIVER=="nvidia",  ENV{xorg_driver}="nvidia",  GOTO="start_xorg"
DRIVER=="radeon",  ENV{xorg_driver}="radeon",  GOTO="start_xorg"
DRIVER=="vmware",  ENV{xorg_driver}="vmware",  GOTO="start_xorg"
GOTO="end_video"

# start Xorg
LABEL="start_xorg"
ENV{xorg_driver}=="?*", RUN+="xorg_start"

LABEL="end_video"

