## Cyp Se esky.cc iR_USB

# eventlircd only does something for "add" and "remove" actions.
ACTION!="add|remove", GOTO="end"

# eventlircd only does something "input" subsystem devices.
SUBSYSTEM!="input", GOTO="end"

# eventlircd can only handle event devices.
KERNEL!="event[0-9]*", GOTO="end"

# eventlircd ignores devices created by eventlircd.
ATTRS{name}=="eventlircd", GOTO="end"

ATTRS{name}=="lircd", \
  ENV{eventlircd_enable}="true"

ATTRS{name}=="bdremoteng", \
  ENV{eventlircd_enable}="true", \
  ENV{eventlircd_evmap}="bdremoteng.evmap"

ATTRS{name}=="bdremoteng", \
  ENV{eventlircd_enable}="true"

SUBSYSTEMS=="rc", \
  ENV{eventlircd_enable}="true"
  ENV{eventlircd_evmap}="ircore.evmap"

SUBSYSTEMS=="usb", GOTO="begin-usb"
GOTO="end-usb"
LABEL="begin-usb"

ENV{ID_USB_INTERFACES}=="", IMPORT{program}="usb_id --export %p"

ENV{ID_VENDOR_ID}=="0755", ENV{ID_MODEL_ID}=="2626", \
  ENV{eventlircd_enable}="true", \
  ENV{eventlircd_evmap}="03_$env{ID_VENDOR_ID}_$env{ID_MODEL_ID}.evmap"

# Enable wake-on-usb for the USB remotes.
ENV{eventlircd_enable}=="true", RUN+="wakeup_enable"

LABEL="end-usb"

LABEL="end"
