Source: yavdr-base
Section: base
Priority: optional
Maintainer: Gerald Dachs <gda@dachsweb.de>
Standards-Version: 3.9.1
Build-Depends: debhelper (>= 7.0.50~)

Package: yavdr-base
Architecture: all
Depends: ${misc:Depends}, yavdr-utils, logrotate, acpid, python-software-properties, acpi-support
Description: scripts for startup, shutdown and s3
  scripts for startup, shutdown and s3 for yaVDR


