# enable usb wakeup for matching devices
# by-path
SUBSYSTEMS=="usb", IMPORT{program}="path_id %p"
KERNEL=="hiddev?|lirc?", ACTION=="add", KERNELS=="usb?",  SYMLINK+="input/wake-up/$env{ID_PATH}"

